node_modules
dist
build

.git
.gitignore
.github

.vscode
.idea

.env
.env.*
!.env.example
!.env.docker.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile.pre-stage9-backup
nginx.conf.pre-stage9-backup
.dockerignore.pre-stage9-backup
